body {
    background-color: #fff;
    font-family: 'Inter', sans-serif;
}

/*-------------CONTAINER----------------*/
.container{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

/*-------------HEADER----------------*/
.header{
}


.header__inner{
    display: flex;
    border-bottom: 1px solid #EAEAEA;
    padding: 45px 0;
}

.header__logo {
    display: flex;
    height: 40px;
}

.header__content{
    margin-left: 15px;
    
}

.header__title{
    font-size: 20px;
    color: #000;
    text-transform: uppercase; 
    margin: 0;
}

.header__suptitle{
    font-size: 14px;
    color:#9D9D9D;
    font-weight: 400;
    margin: 0;
}

/*-------------NAV----------------*/
.nav{

    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.nav__icon{
    color: #9B9B9B;
    height: 20px;
    margin: 10px;
}


.nav__link{
    color: #5C5C5C;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
}



.nav__link:first-child{
    margin-left: 0px;
}
